/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
	font-family: Raleway-Black;
	src: url('/fonts/raleway/Raleway-Black.ttf');
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url('/fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: Raleway-Bold;
	src: url('/fonts/raleway/Raleway-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

:root {
	--primary-color: #2600b1;
	--secondary-color: #d5d5d5;
	--link-color: #287dfc;
	--hover-color: #35f2ff;
	--font-color: #00126c;
	--bg-color: #ffffff;
	--bg-color1: #fffbd4;
	--bg-color2: #ffdcea;
	--bg-color3: #e0f7ff;
	--bg-color4: #e1fff8;
	--heading-color: #292922;
	--shadow-color1: rgba(0, 0, 0, 0.18);
	--shadow-color2: rgba(0, 0, 0, 0.15);
}

[data-theme='dark'] {
	--primary-color: #a7a4fa;
	--secondary-color: #ffb65d;
	--link-color: #fff8c6;
	--hover-color: #fff082;
	--font-color: #e1e1ff;
	--heading-color: #818cab;
	--bg-color: #000000;
	--bg-color1: #161625;
	--bg-color2: #00005e;
	--bg-color3: #342e00;
	--bg-color4: #013025;
	--shadow-color1: rgba(218, 218, 218, 0.18);
	--shadow-color2: rgba(249, 249, 249, 0.15);
}

body {
	/* font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	/* font-size: calc(18px + 0.33vw); */
	-webkit-font-smoothing: antialiased;
	top: 0;
	left: 0;
	/* min-height: 80vh; */
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;

	background: linear-gradient(
		-45deg,
		var(--bg-color1),
		var(--bg-color2),
		var(--bg-color3),
		var(--bg-color4)
	);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
	color: var(--font-color);
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 768px) {
	body {
		background: white;
	}
}

/*---------------------------------------------*/
a {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: 微軟正黑體;
	font-size: 17px;
	line-height: 1.7;
	color: var(--font-color);
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus,
input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}

textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #adadad;
}
input:-moz-placeholder {
	color: #adadad;
}
input::-moz-placeholder {
	color: #adadad;
}
input:-ms-input-placeholder {
	color: #adadad;
}

textarea::-webkit-input-placeholder {
	color: #adadad;
}
textarea:-moz-placeholder {
	color: #adadad;
}
textarea::-moz-placeholder {
	color: #adadad;
}
textarea:-ms-input-placeholder {
	color: #adadad;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
.container {
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
  justify-content: center;
  z-index: 500;
}

/*48em*/

@media (max-width: 768px) {
	.container {
		width: 90vw;
	}
}

.wrap-contact100 {
	max-width: 960px;
	/* width: 960px; */
	background: var(--bg-color);
	border-radius: 2px;
	margin: auto;
	padding: 66px 115px 59px 115px;
	position: relative;
}

/*==================================================================
  [ Form ]*/

.contact100-form {
	width: 100%;
	font-size: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contact100-form-title {
	margin-top: 25px;
	display: block;
	width: 100%;
	font-family: 微軟正黑體;
	font-size: 30px;
	color: var(--font-color);
	line-height: 2;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 32px;
}
.contact100-form-confirm {
	margin-top: 25px;
	display: block;
	width: 100%;
	font-family: 微軟正黑體;
	font-size: 20px;
	color: var(--font-color);
	line-height: 1.2;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 32px;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
	width: 100%;
	position: relative;
	background-color: transparent;
	margin-bottom: 35px;
}

.rs1-wrap-input100 {
	width: calc((100% - 30px) / 2);
}

.label-input100 {
	font-family: 微軟正黑體;
	font-size: 20px;
	color: var(--font-color);
	line-height: 1.5;
}

.itemDetail {
	font-family: 微軟正黑體;
	font-size: 14px;
	color: var(--font-color);
	line-height: 1.5;
}

.input100 {
	display: block;
	width: 100%;
	background: #f2f2f2;
	border-radius: 2px;

	font-family: 微軟正黑體;
	font-size: 20px;
	color: #686868;
	line-height: 1.2;
	padding: 0 28px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	margin-top: 10px;
}

/*---------------------------------------------*/
input.input100 {
	height: 62px;
}

textarea.input100 {
	min-height: 162px;
	padding-top: 19px;
	padding-bottom: 13px;
}

.input100:focus {
	background: #e6e6e6;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-contact100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5px;
}

.wrap-contact100-form-btn {
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 2px;
	overflow: hidden;
}

.contact100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #df2351;
	background: -webkit-linear-gradient(
		right,
		#2f91ff,
		#00c513,
		#2f91ff,
		#00c513
	);
	background: -o-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
	background: -moz-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
	background: linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
	top: 0;
	left: -100%;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 150px;
	height: 62px;

	font-family: 微軟正黑體;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
	left: 0;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 992px) {
	.wrap-contact100 {
		padding: 66px 80px 59px 80px;
	}
}

@media (max-width: 768px) {
	.rs1-wrap-input100 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.wrap-contact100 {
		padding: 66px 15px 59px 15px;
	}
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	bottom: calc((100% - 34px) / 2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 10px;
	pointer-events: none;

	font-family: 微軟正黑體;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: '\f12a';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 16px;
	bottom: calc((100% - 34px) / 2);
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	right: 18px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}

/*==================================================================
  [ Contact more ]*/

.contact100-more {
	display: block;
	max-width: 960px;
	font-family: 微軟正黑體;
	font-size: 20px;
	color: #fff;
	line-height: 1.4;
	text-align: center;
	padding: 40px 0 10px 0;
}

/* particle */
#particle-container {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}



