<div class="wrap-contact100">
	<form class="contact100-form validate-form" id="ajaxForm" action="https://getform.io/f/78751879-387e-4ffa-ae63-8e673deaa9f6" method="POST" enctype="multipart/form-data">
		<span class="contact100-form-title">
			<img src="/img/seo/organizer-logo.png" height="65px" class="d-inline-block" alt="">
				報名表單 | <strong>一起搭車</strong>
				</span>

				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">姓名 *</span>
					<input class="input100" type="text" name="name" placeholder="姓名"  required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">手機號碼 *</span>
					<input class="input100" type="tel" pattern = "[0-9]{10}" name="cell phone" placeholder="手機號碼"  required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">身分證字號 *</span>
					<input class="input100" type="text" pattern = "[A-Z]{1}[0-9]{9}" name="personal id" placeholder="身分證字號"  required="required">
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">email *</span>
					<input class="input100" type="text" name="email" placeholder="email"  required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">緊急聯絡人 *</span>
					<input class="input100" type="text" name="emergent contacter" placeholder="緊急聯絡人"  required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">緊急聯絡人電話 *</span>
					<input class="input100" type="tel"  pattern = "[0-9]{10}" name="emergent contacter number" placeholder="緊急聯絡人電話"  required="required">
				</div>




				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">系所 *</span>
					<p>
						<input type="radio" value="IM" name="dept"  required="required"> 資訊管理學系<br>
						<input type="radio" value="CL" name="dept"  required="required"> 中國語文學系<br>
						<input type="radio" value="AS" name="dept"  required="required"> 大氣學系<br>
					</p>

				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">飲食習慣 *</span>
					<p>
						<input type="radio" value="meat" name="food"  required="required"> 葷<br>
						<input type="radio" value="veg" name="food"  required="required"> 素<br>
					</p>
				</div>
				
				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">生日 *</span>
					<input class="input100" type="text" pattern = "[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}" placeholder="yyyy/mm/dd" name="birthday"  required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 ">
					<span class="label-input100">Facebook個人頁面網址 *</span>
					<input class="input100" type="url" name="facebook" value="https://www.facebook.com/請更改此處" placeholder="https://www.facebook.com/yourname/" required="required">
				</div>

				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">匯款帳號末五碼 *</span>
					<input class="input100" type="text" pattern="[0-9]{5}" name="bank acct" placeholder="12345" required="required">
				</div>

				
				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">匯款日期(非必填，可先報名再匯款)</span>
					<input class="input100" type="text" pattern = "[0-9]{4}/[0-9]{1,2}/[0-9]{1,2}" placeholder="yyyy/mm/dd" name="transfer date">
				</div>



				<div class="wrap-input100 rs1-wrap-input100 " >
					<span class="label-input100">營服尺寸 *</span>
					<br>
					<p>
						<select class="input100" name="shirt_size" id="shirt_size" required="required">
							<option value="">- 請選擇尺寸 -</option>
							<option value="XS">XS</option>
							<option value="S">S</option>
							<option value="M">M</option>
							<option value="L">L</option>
							<option value="XL">XL</option>
							<option value="2XL">2XL</option>
						</select>
					</p>
				</div><br>


				



				<div class="wrap-input100">
					<span class="label-input100">問題詢問</span>
					<textarea class="input100" rows="5" cols="30" name="message" placeholder="如果你有其他問題或是建議，或是，任何想說的話，都歡迎填寫，我們將盡快回覆！"></textarea>
				</div>

				<!--	輸入價格	-->
				<input name="fee"  value="4000" style= "display:none"></input>


				<span class="contact100-form-confirm">
					所需費用
				</span>
				<h4>
					4,000
					<span style="font-size: small;">
						NTD
					</span>
				</h4>

				

				<div class="d-flex justify-content-center">
					<div class="btn-group" role="group" aria-label="actionButtons">
					  <button id="form-btn" class="d-block btn btn-outline-dark" >Submit</button>
					</div>
				</div>
			</form>
		</div>

	</div>



	<div id="dropDownSelect1"></div>
