.blog {
    h3 {
        margin: 0 0 20px;
    }
}
.post-section {
    padding-top: 20px;
}
.post {
    max-width: 750px;
    margin-bottom: 52px;
    @media (max-width: 767px) {
        margin-bottom: 26px;
    }
    li {
        font-weight: 300;
        font-size: 15px;
        line-height: 26px;
    }
}
.post-header {
    height: 20px;
    margin-top: 20px;
    font-size: 14px;
    .published {
        padding: 0;
        font-weight: $bold;
    }
    .publish-date {
        color: #656565;
    }
    .share {
        padding: 0;
        text-align: right;
    }
    .social-links {
        li {
            margin-left: 4px;
        }
    }
}
.post-body {
    margin-top: 19px;
    h1 {
        font-size: $h1-blog-font-size;
        @media (max-width: 767px) {
            font-size: $h1-blog-font-size * 60 / 100;
        }
    }
    h2 {
        font-size: $h2-blog-font-size;
        @media (max-width: 767px) {
            font-size: $h2-blog-font-size * 60 / 100;
        }
    }
    h3 {
        font-size: $h3-blog-font-size;
        margin-bottom: 2px;
        @media (max-width: 767px) {
            font-size: $h3-blog-font-size * 70 / 100;
        }
    }
    h4 {
        font-size: $h4-blog-font-size;
        // margin-top: 40px;
        @media (max-width: 767px) {
            font-size: $h4-blog-font-size * 70 / 100;
        }
    }
    h5 {
        font-size: $h5-blog-font-size;
        @media (max-width: 767px) {
            font-size: $h5-blog-font-size * 80 / 100;
        }
    }
    h6 {
        font-size: $h6-blog-font-size;
        @media (max-width: 767px) {
            font-size: $h6-blog-font-size * 80 / 100;
        }
    }
    iframe, img {
        width: 100%;
        display: block;
        margin: 16px 0;
    }
}
.page-navigation {
    margin-bottom: 40px;
    font-weight: $bold;
}
.comments {
    margin-top: 26px;
}
.pagination {
    font-size: 14px;
    margin: 0;
    .page-number {
        margin: 0 7px;
    }
}
