---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include application-head.html %}

<body>
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>

    
    <div id="particle-container"></div>
    <div class="container">
        {{ content }}
    </div>
    <footer class="footer">
        &copy; 2020 CLIMAS | 中文資管大氣聯合宿營 &middot; 版權所有 <br>
            Powered by
            <a href="http://homepage.ntu.edu.tw/~b07705031" target="_blank"
                >@icheft</a> and <a href="https://github.com/yin1218" target="_blank"
            >@yin1218</a
            >
    </footer>

    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
    }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
	<script src="https://cdn.jsdelivr.net/mojs-player/0.43.15/mojs-player.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/particle-script.js"></script>

<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script  src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
</body>

</html>
